
h1{
  color: red;
  font-size: 17px;
  border: 10px dotted;
  padding: 15px;
  margin: 20px;
}

ol{
  color: red;
  font-size: 15px
}

body{
  background-color: limegreen;

}

img {
  border: 10px red dotted;
  width: 400px;
  height: 400px;
}
li:hover{
  height: 150px;
  width: 150px;
}
li{
  transition: 0.3s ease;
}
